.playlist{
margin-top:50px;
padding-top: 50px;
}
body{
	background-color: black;
	
}
.searchelement{
	margin :20%;
	font-size:35px;
  font-family: Bahnschrift SemiLight SemiConde;
	color:white;
}
.search-box
{
  position: absolute;
  top:5%;
  left: 48%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover >.search-txt
{
  width:600px;
  padding: 0 6px;
}
.search-box:hover >.search-btn{
  background: white;
}
.search-btn
{
  color:#26abff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt
{
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
